<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google" content="notranslate">
  <link rel="icon" href="/images/favicon.ico">
  {{!--
  <link rel="apple-touch-icon" href="./img/icons/apple-touch-icon-180x180.png"> --}}
  <meta name="theme-color" content="slateblue">
  <meta name="color" content="whitesmoke">
  <!-- url informations -->
  <meta name="Keywords" content="YTBDN, download video, free download, youtube video, 
    free, download, mp4, mp3, download for free, 
    convert video youtube, download url youtube,how to download playlist,youtube playlist,
    how to download youtube playlist,download youtube playlist,how to download playlist from youtube,
    youtube playlist download,how to download youtube playlist video,download playlist from youtube,
    youtube playlist downloader,download youtube whole playlist,download youtube playlist in laptop,
    how to download youtube full playlist with idm,how to download all playlist videos from youtube,
    youtube by click,download,playlist,youtube, youtube video download,how to download,youtube to mp4,
    download video,how to download youtube video,youtube premium,download videos,download,
    how to download youtube videos,how to download video from youtube,how to download youtube video for free,
    download youtube,how to download videos from youtube,how to download a video from youtube,
    how to download youtube video ios,download youtube video,how to download youtube video 2020,
    how to download youtube video 2021" />
  <meta property="og:url" content="https://www.ytbdn.online/" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="service" />
  <meta property="og:title" content="YTBDN (download youtube video & playlist for free)" />
  <!-- <meta property="fb:app_id" content="https://developers.facebook.com/apps/347922002792987/dashboard/" /> -->
  <meta property="og:description" content="ytbdn, is website let you to download youtube videos and playlist for free, download youtube whole playlist,download youtube playlist in laptop,
    how to download youtube full playlist with idm,how to download all playlist videos from youtube,
    youtube by click,download,playlist,youtube, youtube video download,how to download,youtube to mp4,
    download video,how to download youtube video,youtube premium,download videos,download,
    how to download youtube videos,how to download video from youtube,how to download youtube video for free,
    download youtube,how to download videos from youtube,how to download a video from youtube,
    how to download youtube video ios,download youtube video,how to download youtube video 2020,
    how to download youtube video 2021" />
  <meta name="description" content="ytbdn, is website let you to download youtube videos and playlist for free, download youtube whole playlist,download youtube playlist in laptop,
    how to download youtube full playlist with idm,how to download all playlist videos from youtube,
    youtube by click,download,playlist,youtube, youtube video download,how to download,youtube to mp4,
    download video,how to download youtube video,youtube premium,download videos,download,
    how to download youtube videos,how to download video from youtube,how to download youtube video for free,
    download youtube,how to download videos from youtube,how to download a video from youtube,
    how to download youtube video ios,download youtube video,how to download youtube video 2020,
    how to download youtube video 2021">
  <meta property="og:image" content="https://www.ytbdn.online/images/logo.png" />
  {{!--
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9784742900830713"
    crossorigin="anonymous"></script> --}}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6472869854715871"
    crossorigin="anonymous"></script>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <!-- Messenger المكون الإضافي "دردشة" Code -->
  <div id="fb-root" style="top: 0;"></div>

  <!-- Your المكون الإضافي "دردشة" code -->
  <div id="fb-customer-chat" class="fb-customerchat" style="top: 0;">
  </div>

  <script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "109615584865248");
    chatbox.setAttribute("attribution", "biz_inbox");

    window.fbAsyncInit = function () {
      FB.init({
        xfbml: true,
        version: 'v12.0'
      });
    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  {{{body}}}
</body>

</html>