@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Cairo", sans-serif;
}

.youtube-container-content {
  width: 100%;
  font-size: large;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
.youtube-container-content-y {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
  background-color: slateblue;
}
.youtube-container-content-y .link {
  color: whitesmoke;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 6px;
  border-radius: 3px;
}
.youtube-container-content-y-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube-container-content-y-form form {
  width: 80%;
}
.youtube-container-content-y-form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.youtube-container-content-y-form-group label {
  padding: 16px 0;
}
.youtube-container-content-y-form-group input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 3px;
}
.youtube-container-content-y-form-group input[type=url] {
  margin-bottom: 3em;
}
.youtube-container-content-y-form-group input[type=submit] {
  font-weight: bold;
  background-color: #8995D9;
  color: whitesmoke;
}
.youtube-container-content-y-form-group input[type=submit]:hover {
  opacity: 0.8;
  cursor: pointer;
}
.youtube-container-content-bg {
  overflow-y: scroll;
  flex-basis: 60%;
  background-color: slateblue;
  background-image: url("../images/bg-3.jpg");
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube-container-content-bg-form {
  height: -moz-fit-content;
  height: fit-content;
  max-height: 100%;
  width: 90%;
  border-radius: 3px;
  padding: 16px;
  background-color: rgba(106, 90, 205, 0.7);
}
.youtube-container-content-bg-form h3 {
  text-align: center;
}
.youtube-container-content-bg-form .video {
  margin-top: 16px;
  padding: 10px 16px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(106, 90, 205, 0.9);
}
.youtube-container-content-bg-form .video img {
  width: 40%;
  height: 40%;
  border-radius: 6px;
}
.youtube-container-content-bg-form .video .info {
  padding: 0 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.youtube-container-content-bg-form .video .download .submit {
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #8995D9;
  padding: 8px 16px;
  border-radius: 3px;
  font-size: larger;
  color: whitesmoke;
  text-decoration: none;
}
.youtube-container-content-bg-form .video .download .submit:hover {
  opacity: 0.8;
  cursor: pointer;
}
.youtube-container-content-bg-form .video-playlist {
  margin-top: 16px;
  padding: 10px 16px;
  border-radius: 6px;
  background-color: rgba(106, 90, 205, 0.9);
}
.youtube-container-content-bg-form .video-playlist .title {
  padding-bottom: 6px;
}
.youtube-container-content-bg-form .video-playlist-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.youtube-container-content-bg-form .video-playlist-info img {
  width: 40%;
  height: 40%;
  border-radius: 6px;
}
.youtube-container-content-bg-form .video-playlist-info .info {
  padding: 0 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.youtube-container-content-bg-form .video-playlist-info .download {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.youtube-container-content-bg-form .video-playlist-info .download select {
  outline: none;
  padding-block: 8px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5px;
  border: 0;
}
.youtube-container-content-bg-form .video-playlist-info .download .submit {
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: #8995D9;
  padding: 8px 16px;
  border-radius: 3px;
  font-size: larger;
  color: whitesmoke;
  text-decoration: none;
}
.youtube-container-content-bg-form .video-playlist-info .download .submit:hover {
  opacity: 0.8;
  cursor: pointer;
}
.youtube-container-articles {
  padding: 16px;
  background-color: slateblue;
  border-radius: 3px;
  color: whitesmoke;
  font-size: large;
}
.youtube-container-articles-article {
  margin: 16px;
  padding: 20px;
  border-radius: 6px;
  text-align: justify;
  background-color: rgba(199, 23, 155, 0.849);
}
.youtube-container-articles-article h1 {
  background-color: tomato;
  width: -moz-fit-content;
  width: fit-content;
}

@media only screen and (max-width: 768px) {
  .youtube-container-content {
    font-size: medium;
    flex-direction: column-reverse;
  }
  .youtube-container-content-y {
    flex-direction: column-reverse;
    flex-basis: 30%;
    padding-bottom: 1em;
  }
  .youtube-container-content-y .link {
    margin-top: 1em;
  }
  .youtube-container-content-y-form form {
    width: 90%;
  }
  .youtube-container-content-y-form-group label {
    padding: 10px 0;
  }
  .youtube-container-content-y-form-group input {
    padding: 10px;
    border-radius: 3px;
  }
  .youtube-container-content-y-form-group input[type=url] {
    margin-bottom: 2em;
  }
  .youtube-container-content-bg {
    flex-basis: 70%;
  }
  .youtube-container-content-bg-form {
    width: 95%;
  }
  .youtube-container-content-bg-form .video {
    padding: 10px 10px;
  }
  .youtube-container-content-bg-form .video img {
    width: 30%;
    height: 30%;
  }
  .youtube-container-content-bg-form .video .download .submit {
    font-size: medium;
  }
}/*# sourceMappingURL=style.css.map */