* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.youtube {
    &-container {
        &-content {
            width: 100%;
            font-size: large;
            height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: white;
            &-y {
                display: flex;
                flex-direction: column;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-basis: 40%;
                background-color: slateblue;
                .link {
                    color: whitesmoke;
                    background-color: rgba(255, 255, 255, 0.3);
                    padding: 6px;
                    border-radius: 3px;
                }
                &-form {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    form {
                        width: 80%;
                    }
                    &-group {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        label {
                            padding: 16px 0;
                        }
                        input {
                            padding: 10px;
                            border: none;
                            outline: none;
                            border-radius: 3px;
                        }
                        input[type="url"] {
                            margin-bottom: 3em;
                        }
                        input[type="submit"] {
                            font-weight: bold;
                            background-color: #8995D9;
                            color: whitesmoke;
                            &:hover {
                                opacity: 0.8;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            &-bg {
                overflow-y: scroll;
                flex-basis: 60%;
                background-color: slateblue;
                background-image: url('../images/bg-3.jpg');
                background-blend-mode: color-dodge;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: center;
                align-items: center;
                &-form {
                    height: fit-content;
                    max-height: 100%;
                    width: 90%;
                    border-radius: 3px;
                    padding: 16px;
                    background-color: rgba(106, 90, 205, 0.7);
                    h3 {
                        text-align: center;
                    }
                    .video {
                        margin-top: 16px;
                        padding: 10px 16px;
                        border-radius: 6px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        background-color: rgba(106, 90, 205, 0.9);
                        img {
                            width: 40%;
                            height: 40%;
                            border-radius: 6px;
                        }
                        .info {
                            padding: 0 10px;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                        }
                        .download {
                            .submit {
                                border: none;
                                outline: none;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                background-color: #8995D9;
                                padding: 10px 16px;
                                border-radius: 3px;
                                font-size: larger;
                                color: whitesmoke;
                                text-decoration: none;
                                &:hover {
                                    opacity: 0.8;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and(max-width: 768px) {
    .youtube {
        &-container {
            &-content {
                font-size: medium;
                flex-direction: column-reverse;
                &-y {
                    flex-direction: column-reverse;
                    flex-basis: 30%;
                    padding-bottom: 1em;
                    .link {
                        margin-top: 1em;
                    }
                    &-form {
                        form {
                            width: 90%;
                        }
                        &-group {
                            label {
                                padding: 10px 0;
                            }
                            input {
                                padding: 10px;
                                border-radius: 3px;
                            }
                            input[type="url"] {
                                margin-bottom: 2em;
                            }
                        }
                    }
                }
                &-bg {
                    flex-basis: 70%;
                    &-form {
                        width: 95%;
                        .video {
                            padding: 10px 10px;
                            img {
                                width: 30%;
                                height: 30%;
                            }
                            .download {
                                .submit {
                                    font-size: medium;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}